[submodule "external/OnionKit"]
	path = external/OnionKit
	url = https://github.com/guardianproject/OnionKit.git
[submodule "external/ActionBarSherlock"]
	path = external/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
